<% if page.foreign_link.present? %>
  <li class='not'>
  	<% if page.show_in_header.present? %>
  	<%= link_to "+#{page.title}" , page.foreign_link, {:target => "_blank"} %></li>
  	<%else%>
  	<%= link_to page.title , page.foreign_link, {:target => "_blank"} %></li>
  	<%end%>
<% else %>
  <% page_uri = Rails.application.routes.named_routes[:spree].path.spec.to_s == '/' ? page.slug : Rails.application.routes.named_routes[:spree].path.spec.to_s + page.slug %>
  <li class=<%=(request.fullpath.gsub('//','/') == page_uri) ? 'current' : 'not'%>><%= link_to "+#{page.title}", page_uri  %></li>
<% end %>

